/* ---------- HEADER ----------------------*/


header{
    background-color: blue;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
}


/* ------------ MAIN ---------------------- */


main{
    background-color: red;
    height: 2000px;
}


/* ------------ FOOTER ---------------------- */

footer{
    background-color: green;
    bottom: 0;
    height: 40px;

}