
header{
    background-color: rgb(66, 35, 13);
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}


.logo {
    width: 6%;
    margin-right: 20%;
}

#imgLogo {
    width: 100%;
}

.Login {
    width: 6%;
    margin-left: auto;
}

#imgLogin {
    width: 100%;
}

.Logout {
    width: 6%;
    margin-left: auto;
}

#imgLogout {
    width: 100%;
}

.linkPanier {
    text-align: right;
    width: 6%;
    margin-left: 1%;
}

#imgPanier {
    width: 100%;
}

header h1 {
	margin: 0;
}

header nav {
	margin-left: auto;
}

header nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	margin: 0 10px;
}

header nav ul li a {
	color: white;
	text-decoration: none;
}

#produit {
    display: block;
    width: 100%; 
    background-color: #ff951b; 
    color: black; 
    padding: 14px 20px; 
    margin-top: 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
}

#produit:hover {
    background-color: #ff8800; 
}

.Accueil {
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
}

.Accueil h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.Accueil img {
    border: 1px solid #ccc;
    padding: 10px;
}

.Accueil form button {
    display: block;
    color: black; 
    margin-top: 20px; 
    border: none; 
    cursor: pointer; 
}

.panier {
    display: block;
    width: 15%; 
    background-color: #ff951b; 
    color: black; 
    padding: 14px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    margin: auto;
}

.panier:hover {
    background-color: #ff8800; 
}


.Accueil p {
    font-size: 18px;
    margin-bottom: 10px;
}
