/* ---------- HEADER ----------------------*/


header{
    background-color: blue;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}


div.logo {
    width: 6%;
    margin-right: 20%;
}

#imgLogo {
    width: 100%;
}

div.Login {
    width: 6%;
    margin-left: auto;
}

#imgLogin {
    width: 100%;
}

div.linkPanier {
    text-align: right;
    width: 6%;
    margin-left: 1%;
}

#imgPanier {
    width: 100%;
}

header h1 {
	margin: 0;
}

header nav {
	margin-left: auto;
}

header nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	margin: 0 10px;
}

header nav ul li a {
	color: white;
	text-decoration: none;
}



/* ------------ MAIN ---------------------- */


main{
    background-color: red;
}


/* ------------ FOOTER ---------------------- */

footer{
    background-color: green;
    bottom: 0;
    height: 40px;

}